In [9]:
import random
import pandas as pd

first_date = pd.to_datetime("2019-02-03")
df1_dict_list = []
df2_dict_list = []
for i in range(50):
    trading_date = first_date+pd.Timedelta(days=i*3+2)
    delivery_date = trading_date+pd.Timedelta(days=int(random.random()*6))
    df1_dict_list.append({
        "trading_date": trading_date,
        "delivery_date": delivery_date,
        "price": random.random()*300+100
    })

for i in range(50):
    trading_date = first_date+pd.Timedelta(days=i*4+1)
    delivery_date = trading_date+pd.Timedelta(days=int(random.random()*5))
    df2_dict_list.append({
        "trading_date": trading_date,
        "delivery_date": delivery_date,
        "price": random.random()*200+150
    })

In [18]:
df1 = pd.DataFrame(df1_dict_list)
df1['index'] = range(len(df1))

In [20]:
df2 = pd.DataFrame(df2_dict_list)
df2['index'] = range(len(df2))

In [21]:
df3 = pd.merge(df1, df2, on=["delivery_date", "trading_date"], how="inner")

In [22]:
df1.head()

  trading_date delivery_date       price  index
0   2019-02-05    2019-02-09  182.528861      0
1   2019-02-08    2019-02-13  150.960818      1
2   2019-02-11    2019-02-16  295.420911      2
3   2019-02-14    2019-02-18  245.488752      3
4   2019-02-17    2019-02-18  391.197442      4

In [23]:
df2.head()

  trading_date delivery_date       price  index
0   2019-02-04    2019-02-07  222.076383      0
1   2019-02-08    2019-02-09  299.149106      1
2   2019-02-12    2019-02-15  164.953840      2
3   2019-02-16    2019-02-16  326.455188      3
4   2019-02-20    2019-02-24  186.952950      4

In [24]:
df3

  trading_date delivery_date     price_x  index_x     price_y  index_y
0   2019-04-21    2019-04-21  244.495757       25  315.023210       19
1   2019-05-15    2019-05-16  159.052280       33  207.692206       25