In [3]:
import pandas as pd
import numpy as np
from os import path
from utils.CSVUtils import *
import ta
import matplotlib.pyplot as plt
import seaborn as sn

In [4]:
def exponential_moving_avg(df: pd.DataFrame, price_col='Price', window_size=15, center=True):
    if center == True:
        ema_df = df[price_col].shift(int(window_size/2)).ewm(span=window_size).mean()
        return _remove_trailing_data(ema_df, window_size)
    else:
        ema_df = pd.Series.ewm(df[price_col], span=window_size).mean()
        return ema_df
    
def _remove_trailing_data(df: pd.DataFrame, window_size):
    return df.shift(-int(window_size/2)*2).shift(int(window_size/2))

In [5]:
DIR = "./input/yahoo"
nameList = ["RSX", "EWH", "IVV"]
trainStartDate = pd.to_datetime("2000-01-01")
trainEndDate = pd.to_datetime("2014-12-31")
testStartDate = pd.to_datetime("2015-01-01")
testEndDate = pd.to_datetime("2019-12-31")
df_list = []

for name in nameList:
#     df = csv2df(csv_path=DIR, csv_name=nameList[2]+".csv", source="yahoo")
    df = csv2df(csv_path=DIR, csv_name=name+".csv", source="yahoo")
    df_list.append(df)

FileNotFoundError: [Errno 2] File b'./input/yahoo\\RSX.csv' does not exist: b'./input/yahoo\\RSX.csv'

,Date,Open,High,Low,Price,Vol,Change
0,2000-05-19,142.656250,142.656250,140.250000,96.708588,775500,NaN
1,2000-05-22,140.593750,140.593750,136.812500,96.107178,1850600,-0.006219
2,2000-05-23,140.218750,140.218750,137.687500,94.646423,373900,-0.015199
3,2000-05-24,137.750000,140.062500,136.656250,96.064148,400300,0.014979
4,2000-05-25,140.031250,140.937500,137.875000,95.183456,69600,-0.009168
...,...,...,...,...,...,...,...
4967,2020-02-19,339.329987,340.630005,339.019989,339.880005,2678800,0.004789
4968,2020-02-20,339.329987,340.200012,335.230011,338.489990,3567700,-0.004090
4969,2020-02-21,337.000000,337.320007,334.100006,335.010010,4323700,-0.010281
4970,2020-02-24,324.609985,327.279999,322.700012,323.829987,7492100,-0.033372
4971,2020-02-25,325.380005,326.059998,313.079987,314.119995,12082600,-0.029985

In [54]:
df = df_list[2]

window_size = 15
df['EMA'] = df['Price'].ewm(span=window_size).mean()
df['MACD'] = ta.trend.macd_diff(df['Price'])

,Date,Open,High,Low,Price,Vol,Change,EMA
0,2000-05-19,142.656250,142.656250,140.250000,96.708588,775500,NaN,96.708588
1,2000-05-22,140.593750,140.593750,136.812500,96.107178,1850600,-0.006219,96.387836
2,2000-05-23,140.218750,140.218750,137.687500,94.646423,373900,-0.015199,95.728366
3,2000-05-24,137.750000,140.062500,136.656250,96.064148,400300,0.014979,95.829794
4,2000-05-25,140.031250,140.937500,137.875000,95.183456,69600,-0.009168,95.663927
...,...,...,...,...,...,...,...,...
4967,2020-02-19,339.329987,340.630005,339.019989,339.880005,2678800,0.004789,335.249885
4968,2020-02-20,339.329987,340.200012,335.230011,338.489990,3567700,-0.004090,335.654898
4969,2020-02-21,337.000000,337.320007,334.100006,335.010010,4323700,-0.010281,335.574287
4970,2020-02-24,324.609985,327.279999,322.700012,323.829987,7492100,-0.033372,334.106249
4971,2020-02-25,325.380005,326.059998,313.079987,314.119995,12082600,-0.029985,331.607968

In [51]:
df['Price'][:20].ewm(span=window_size).mean()[int(window_size/2):-1*int(window_size/2)]

7     96.371642
8     96.969417
9     97.770525
10    98.299201
11    98.645375
12    99.029489
Name: Price, dtype: float64

In [46]:
df['Price'][:20]

0      96.708588
1      96.107178
2      94.646423
3      96.064148
4      95.183456
5      94.753830
6      97.868660
7      98.147881
8      99.716034
9     101.692268
10    101.026360
11    100.510788
12    101.176720
13    100.811554
14    100.446396
15     99.576355
16    100.875992
17    101.498947
18    101.498947
19    101.090813
Name: Price, dtype: float64