In [20]:
import numpy as np
import pandas as pd
from os import path
from CSVUtils import *

In [25]:
rootDir = "./data"
df_namelist = ["^GSPC.csv", "^GDAXI.csv", "^HSI.csv"]
train_df_list = []
test_df_list = []
trainStartDate = pd.to_datetime("2004-01-01")
trainEndDate = pd.to_datetime("2013-12-31")

testStartDate = pd.to_datetime("2015-01-01")
testEndDate = pd.to_datetime("2019-12-31")
for name in df_namelist:
    df = csv2df(rootDir, name, source = "yahoo")
    df = df.sort_values('Date').dropna()
    df = df.reset_index(drop=True)

    train_df = df[(df['Date'] >= trainStartDate) & (df['Date'] <= trainEndDate)]
    test_df = df[(df['Date'] >= testStartDate) & (df['Date'] <= testEndDate)]

    train_df_list.append(train_df)
    test_df_list.append(test_df)

In [31]:
train_df_list[2]

,Date,Open,High,Low,Price,Vol,Change
4205,2004-01-02,12664.990234,12815.080078,12664.990234,12801.480469,3.055750e+08,0.017934
4206,2004-01-05,12844.589844,13009.400391,12763.099609,13005.330078,3.629984e+08,0.015924
4207,2004-01-06,13063.450195,13128.730469,12975.500000,13036.320313,4.401008e+08,0.002383
4208,2004-01-07,13122.990234,13216.360352,13095.589844,13157.679688,3.816566e+08,0.009309
4209,2004-01-08,13184.440430,13255.809570,13063.269531,13203.589844,4.860842e+08,0.003489
...,...,...,...,...,...,...,...
6662,2013-12-23,22946.550781,23005.919922,22862.890625,22921.560547,1.094500e+09,0.004795
6663,2013-12-24,23045.640625,23194.630859,23026.099609,23179.550781,8.014690e+08,0.011255
6664,2013-12-27,23138.910156,23283.310547,23130.859375,23243.240234,8.501512e+08,0.002748
6665,2013-12-30,23353.539063,23369.369141,23178.279297,23244.869141,1.000191e+09,0.000070
6666,2013-12-31,23328.439453,23361.339844,23271.800781,23306.390625,6.741771e+08,0.002647

In [74]:
window_size = 6
self_df_list = []

df_list[0].dropna(inplace = True)
intersect_dates = train_df_list[0]['Date']
for df in train_df_list[1:]:
    df.dropna(inplace = True)
    intersect_dates = np.intersect1d(intersect_dates, df['Date'])
# Remove all NAN in the df

start_date = np.min(intersect_dates)
end_date = np.max(intersect_dates)

for i, df in enumerate(df_list):
    self_df_list.append(df[df['Date'].isin(intersect_dates)].reset_index(drop=True))
    print (str(i)+"- Date Equals: "+str(np.array_equal(intersect_dates, self_df_list[i]['Date'])))
    print(str(i)+"- Has NaN: "+str(self_df_list[0].isna().values.any()))

0- Date Equals: True
0- Has NaN: False
1- Date Equals: True
1- Has NaN: False
2- Date Equals: True
2- Has NaN: False

In [75]:
market_number = len(self_df_list)+1
lower_bond = [[0.0]*market_number]*3
lower_bond = np.array(lower_bond)
lower_bond = np.reshape(lower_bond, (1,-1))

upper_bond = [[1.0]*market_number]*3
upper_bond = np.array(upper_bond)
upper_bond = np.reshape(upper_bond, (1,-1))

In [76]:
lower_bond

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [77]:
upper_bond

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

0      2004-01-02
1      2004-01-05
2      2004-01-06
3      2004-01-07
4      2004-01-08
          ...
2384   2013-12-19
2385   2013-12-20
2386   2013-12-23
2387   2013-12-27
2388   2013-12-30
Name: Date, Length: 2389, dtype: datetime64[ns]