In [113]:
import pandas as pd
import numpy as np
from os import path
import random

In [57]:
nameList = ['^GDAXI', '^GSPC', '^HSI']
dirPath = "./data"
df_list = []
for csvName in nameList:
    df = pd.read_csv(path.join(dirPath, csvName+".csv"))
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)
    df_list.append(df)

In [76]:
def getClosestDateAfter(df, date):
    s = pd.to_datetime(df.index.to_series()) - pd.to_datetime(startDate)
    return s[s >= pd.Timedelta(0)].idxmin()

In [111]:
startDate = pd.to_datetime("2004-01-03")

In [99]:
closestDate = min([getClosestDateAfter(df, startDate) for df in df_list])

In [100]:
closestDate

Timestamp('2004-01-05 00:00:00')

In [86]:
df.loc[pd.to_datetime("2004-01-01"):pd.to_datetime("2004-01-01")+pd.Timedelta(days=5)]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-01-01,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-02,12664.990234,12815.080078,12664.990234,12801.480469,12801.480469,305575000.0
2004-01-05,12844.589844,13009.400391,12763.099609,13005.330078,13005.330078,362998400.0
2004-01-06,13063.450195,13128.730469,12975.500000,13036.320313,13036.320313,440100800.0

In [108]:
if startDate in df.index:
    print([random.uniform(df.loc[startDate, "Low"], df.loc[startDate, "High"]) for df in df_list])

[4029.6138560390395, 1120.0978964958724, 12975.679302160917]

In [97]:
df.loc[pd.date_range(pd.to_datetime("2004-01-01"), pd.to_datetime("2004-01-01")+pd.Timedelta(days=5))]

/Users/lzcai/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:947: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return getattr(section, self.name)[new_key]

2004-01-01             NaN
2004-01-02    12664.990234
2004-01-03             NaN
2004-01-04             NaN
2004-01-05    12844.589844
2004-01-06    13063.450195
Freq: D, Name: Open, dtype: float64

In [114]:

[random.uniform(
    df.loc[startDate, "Low"], 
    df.loc[startDate, "High"]) 
    if startDate in df.index
    else np.nan 
    for df in df_list]

[nan, nan, nan]

In [129]:
a = np.array([np.nan, 3, 4, np.nan, 1, 2])
np.isnan(a)

array([ True, False, False,  True, False, False])

In [146]:
b = a*[1,2,3,4,5,6]
np.nansum(b)

35.0

In [144]:
c = (np.isnan(a)*-1+1)*[1,2,3,4,5,6]

In [148]:
b/np.nansum(b)

array([       nan, 0.17142857, 0.34285714,        nan, 0.14285714,
       0.34285714])