In [1]:
import pandas as pd
import numpy as np
from os import path
from CSVUtils import *
import ta
import matplotlib.pyplot as plt
import seaborn as sn
import calendar
from pprint import pprint

In [2]:
DIR = "./from github/Stock-Trading-Environment/data"
nameList = ["^BVSP", "^TWII", "^IXIC"]
df_list = []
startDate = pd.to_datetime("2000-01-01")
endDate = pd.to_datetime("2020-01-31")

for name in nameList:
    df = csv2df(csv_path=DIR, csv_name=name+".csv", source="yahoo")
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.dropna()
    df_list.append(df)

In [3]:
twd_df = pd.read_csv("./input/currency/TWD_1995-2020.csv")
brl_df = pd.read_csv("./input/currency/BRL_1995-2020.csv")

twd_df['Date'] = pd.to_datetime(twd_df['Date'])
brl_df['Date'] = pd.to_datetime(brl_df['Date'])

In [4]:
twd_change = twd_df[['Date','Change']]
brl_change = brl_df[['Date','Change']]

In [5]:
def stem_df(df, intersect_dates, startDate, endDate):
    df.dropna(inplace = True)
    df = df[df['Date'].isin(intersect_dates)].reset_index(drop=True)
    df = df[(df['Date'] >= startDate) & (df['Date'] <= endDate)]
    df = df.reset_index(drop=True)
    return df

In [6]:
intersect_dates = df_list[0]['Date']
for df in df_list[1:]+[twd_change,brl_change]:
    df.dropna(inplace = True)
    intersect_dates = np.intersect1d(intersect_dates, df['Date'])

C:\Users\lzcai\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
for i, df in enumerate(df_list):
    df_list[i] = stem_df(df, intersect_dates, startDate, endDate)
twd_change = stem_df(twd_change, intersect_dates, startDate, endDate)
brl_change = stem_df(brl_change, intersect_dates, startDate, endDate)

C:\Users\lzcai\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
df_list[0]['FX Change'] = brl_change['Change']
df_list[1]['FX Change'] = twd_change['Change']
df_list[2]['FX Change'] = 0

In [9]:
for i, df in enumerate(df_list):
    df['Cum FX Change'] = (df['FX Change']+1).cumprod()
    df['Actual Price'] = df['Price']*df['Cum FX Change']

In [10]:
df_list[0].head()

,Date,Open,High,Low,Price,Vol,Change,FX Change,Cum FX Change,Actual Price
0,2000-01-04,16908.0,16908.0,15851.0,15851.0,0.0,-0.063733,-0.0157,0.984300,15602.139300
1,2000-01-05,15871.0,16302.0,15350.0,16245.0,0.0,0.024856,0.0061,0.990304,16087.492216
2,2000-01-06,16237.0,16499.0,15977.0,16107.0,0.0,-0.008495,-0.0017,0.988621,15923.713821
3,2000-01-07,16125.0,16449.0,16125.0,16309.0,0.0,0.012541,0.0074,0.995937,16242.728478
4,2000-01-10,16325.0,17057.0,16325.0,17022.0,0.0,0.043718,0.0075,1.003406,17079.977441

In [11]:
df_list[0].to_csv("./from github\\Stock-Trading-Environment\\data\\^BVSP_new.csv", index=False)
df_list[1].to_csv("./from github\\Stock-Trading-Environment\\data\\^TWII_new.csv", index=False)
df_list[2].to_csv("./from github\\Stock-Trading-Environment\\data\\^IXIC_new.csv", index=False)