In [4]:
from CSVUtils import *
import pandas as pd
import numpy as np
from os import path

In [10]:
DIR = "./input/currency"
name_prefix = ["BRL_USD", "TWD_USD"]
name_suffix = ['1995-2009','2010-2020']
df_list = []
for prefix in name_prefix:
    tmp_df_list = []
    for suffix in name_suffix:
        filename = prefix+" Historical Data_"+suffix+".csv"
        df = csv2df(DIR, filename, source="investing")
        tmp_df_list.append(df)
    df_list.append(tmp_df_list)

In [16]:
df = df.sort_values('Date').reset_index(drop=True)

In [26]:
result_dict = {}
for i, country_list in enumerate(df_list):
    result = pd.concat([country_list[0], country_list[1]], ignore_index=True).sort_values('Date').reset_index(drop=True)
    result_dict[name_prefix[i]] = result
result_dict

{'BRL_USD':            Date   Price    Open    High     Low  Change
 0    1995-01-02  9.3123  9.3020  9.3123  9.3020 -0.0072
 1    1995-01-03  9.3106  9.3003  9.3106  9.3003 -0.0002
 2    1995-01-04  9.3518  9.3415  9.3518  9.3415  0.0044
 3    1995-01-05  9.2882  9.2780  9.2882  9.2780 -0.0068
 4    1995-01-06  9.2929  9.2878  9.2929  9.2878  0.0005
 ...         ...     ...     ...     ...     ...     ...
 6494 2020-02-26  0.2247  0.2278  0.2279  0.2244 -0.0140
 6495 2020-02-27  0.2229  0.2247  0.2248  0.2221 -0.0080
 6496 2020-02-28  0.2235  0.2220  0.2240  0.2215  0.0027
 6497 2020-03-02  0.2235  0.2225  0.2238  0.2219  0.0000
 6498 2020-03-03  0.2215  0.2234  0.2246  0.2214 -0.0090

 [6499 rows x 6 columns],
 'TWD_USD':            Date    Price     Open     High      Low  Change
 0    2005-08-23  0.03110  0.03110  0.03120  0.03100  0.0000
 1    2005-08-24  0.03090  0.03100  0.03110  0.03090 -0.0064
 2    2005-08-25  0.03090  0.03090  0.03110  0.03090  0.0000
 3    2005-08-26  0.03110  0.03090  0.03110  0.03080  0.0065
 4    2005-08-29  0.03070  0.03090  0.03090  0.03070 -0.0129
 ...         ...      ...      ...      ...      ...     ...
 3787 2020-02-27  0.03300  0.03300  0.03320  0.03290  0.0000
 3788 2020-02-28  0.03320  0.03300  0.03320  0.03290  0.0061
 3789 2020-03-02  0.03350  0.03320  0.03350  0.03310  0.0090
 3790 2020-03-03  0.03352  0.03355  0.03360  0.03328  0.0005
 3791 2020-03-04  0.03342  0.03346  0.03352  0.03333 -0.0029

 [3792 rows x 6 columns]}

In [30]:
DIR = "./input/currency"
filename = "USD_TWD Historical Data_1995-2005.csv"
df = csv2df(DIR, filename, source="investing")
df['Price'] = 1/df['Price']
df['Open'] = 1/df['Open']
df['High'] = 1/df['High']
df['Low'] = 1/df['Low']
df[df['Date'] == pd.to_datetime("2005-08-23")]

         Date     Price      Open      High       Low  Change
93 2005-08-23  0.031128  0.031172  0.031056  0.031192  0.0003